In [6]:
import sqlite3

from datetime import datetime

In [7]:

mydb = sqlite3.connect('user.db') 
c = mydb.cursor() # The database will be saved in the location where your 'py' file is saved

In [8]:
c.execute("CREATE TABLE IF NOT EXISTS users (user_id INTEGER PRIMARY KEY, name VARCHAR(255),email VARCHAR(255), phone VARCHAR(255),location VARCHAR(255), registered_on DATETIME)")
c.execute("CREATE TABLE IF NOT EXISTS queries (id INTEGER PRIMARY KEY, user_id INT, query VARCHAR(255),ip VARCHAR(255), datetime DATETIME, location VARCHAR(255), FOREIGN KEY (user_id) REFERENCES users(user_id))")
c.execute("CREATE TABLE IF NOT EXISTS sessions (id INTEGER PRIMARY KEY, ip VARCHAR(255), device VARCHAR(255),total_time VARCHAR(255), start_time DATETIME, end_time DATETIME)")

In [11]:
sql = '''INSERT INTO users (name, email, phone, location, registered_on) VALUES (?, ?, ?, ?, ?)'''
values = ("suhail","suhail@lawyantra.com","787878787","Mumbai", datetime.now())
c.execute(sql, values)
mydb.commit()

In [13]:
sql = '''INSERT INTO queries (user_id, query, ip, datetime, location) VALUES (?, ?, ?, ?, ?)'''
values = ("2","war in pakisthan","101.10.12.12", datetime.now(),"Mumbai")
c.execute(sql, values)
mydb.commit()